<h2>
    Animals
</h2>

{{!-- Create a table --}}
<table id="animals-table" border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>
        <tr>
            <th>Animal ID</th>
            <th>Species</th>
            <th>Name</th>
            <th>Sick</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.animal_id}}</td>
            <td>{{this.species_name}}</td>
            <td>{{this.name}}</td>
            <td>{{this.is_sick}}</td>
            <td align="middle">
                <button class="delete" onClick="deleteAnimal({{this.animal_id}})">Delete</button>
            </td>
            <td align="middle">
                <button class="edit" onClick="editAnimal({{this.animal_id}})">Edit</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<p>&nbsp;</p>

<form id="addAnimal">
    <fieldset class="fields">
        <legend><strong>Add Animal</strong></legend>

        <label for="input-species">Species: </label>
        <select name="input-species" id="input-species">
        <option value="">Select a Species</option>
        {{#each species}}
        <option value="{{this.species_id}}">{{this.species_name}}</option>
        {{/each}}
        </select>
            
        <p>
        <label for="input-name">Name: </label>
        <input type="text" name="input-name" id="input-name"></input>
        </p>

        <p>
        <label for="input-is-sick">Sick:  </label>
        <select name="input-is-sick" id="input-is_sick">
            <option value="">0</option>
            <option value="">1</option>
        </select>
        </p>

        <p>
        <input class="btn" type="submit" value="Submit">
        </p>
    </fieldset>
</form>

<h2>Search Using an HTML Form</h2>
<p>Search animal names using the field below. Partial names are OK too!</p>
<form id="searchAnimal" method='GET' action='/'>
    <label for="input-name">Search by Animal Name: </label>
    <input type="text" name="searchAnimal" id="searchAnimal">
    
    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>

<script src="./js/add_animal.js"></script>