<h2>
    Animals
</h2>

{{!-- Create a table --}}
<table id="animals-table" border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>
        <tr>
            <th>Animal ID</th>
            <th>Species</th>
            <th>Name</th>
            <th>Sick</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.animal_id}}</td>
            <td>{{this.species_name}}</td>
            <td>{{this.name}}</td>
            <td>{{this.is_sick}}</td>
            <td align="middle">
                <button class="delete" onClick="deleteAnimal({{this.animal_id}})">Delete</button>
            </td>
            <td align="middle">
                <button class="edit" onClick="editAnimal({{this.animal_id}})">Edit</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<p>&nbsp;</p>

<form id="addAnimal">
    <fieldset class="fields">
        <legend><strong>Add Animal</strong></legend>

        <label for="input-species">Species: </label>
        <input type="text" name="input-species" id="input-species"></input>
            
        <p>
        <label for="input-name">Name: </label>
        <input type="text" name="input-name" id="input-name"></input>
        </p>

        <p>
        <label for="input-is-sick">Sick:  </label>
        <input type="text" name="input-is-sick" id="input-is-sick"></input>
        </p>

        <p>
        <input class="btn" type="submit" id="addAnimal" value="Submit">
        </p>
    </fieldset>
</form>

<script src="./js/add_animal.js"></script>