<h2>
    Animals
</h2>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{{!-- Create a table --}}
<table id="animals-table" border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>
        <tr>
            <th>Animal ID</th>
            <th>Name</th>
            <th>Species</th>
            <th>Sick</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr data-value={{this.animal_id}} >
            <td>{{this.animal_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.species_id}}</td>
            <td>{{this.is_sick}}</td>
            <td align="middle">
                <button class="delete" onClick="deleteAnimal({{this.animal_id}})">Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_animal.js"></script>
<p>&nbsp;</p>

{{!-- Search an animal form --}}
<form id="search-animal-form-html" method='GET' action="/animals">
    <fieldset class="fields">
        <legend><strong>Search Animal</strong></legend>
        Search animal names using the field below. Partial names are OK too!

        <p>
            <label for="input-name">Search by Name: </label>
            <input type="text" name="name" id="input-name-html-search">
        </p>

        <p>
            <input class="btn" type="submit" value="Submit">
            <button href='/animals'>Reset</button>
        </p>
    </fieldset>
</form>
<p>&nbsp;</p>

{{!-- Add an animal form --}}
<form id="add-animal-form-ajax">
    <fieldset class="fields">
        <legend><strong>Add Animal</strong></legend>

        <label for="input-name">Name: </label>
        <input type="text" name="input-name" id="input-name"></input>
            
        <p>
        <label for="input-species">Species: </label>
        <select name="input-species" id="input-species">
            <option value="">Select a Species</option>
            {{#each species}}
            <option value="{{this.species_id}}">{{this.species_name}}</option>
            {{/each}}
        </select>
        </p>

        <p>
        <label for="input-is-sick">Sick:  </label>
        <select name="input-is-sick" id="input-is-sick">
            <option>Select Sick Status</option>
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
        </p>

        <p>
        <input class="btn" type="submit" value="Submit">
        </p>
    </fieldset>
</form>
<script src="./js/add_animal.js"></script>
<p>&nbsp;</p>

{{!-- Update Animal Form --}}
<form id="updateAnimalSickness">
    <fieldset class="fields">
        <legend><strong>Update an Animals Sick Status Form</strong></legend>
        To update a specific animal's sick status select their name from the drop-down menu
        and desired sick status.
    <p>
    <label for="input-animals">Animal: </label>
    <select name="input-animals" id="mySelect">
        <option value="test">Select an Animal</option>
        {{#each data}}
        <option value="{{this.animal_id}}">{{this.name}}</option>
        {{/each}}
    </select>
    </P>

    <p>
    <label for="input-animalSick">Sick: </label>
    <select name="input-animalSick" id="input-sick-update">
        <option>Select Sick Status</option>
        <option value="0">No</option>
        <option value="1">Yes</option>
    </select>
    </p>

    <p>
        <input class="btn" type="submit" value="Submit">
    </p>

    </fieldset>
</form>
<script src="./js/update_animal.js"></script>

<p>&nbsp;</p>
