{{!-- Citation for the following: search a feeding form, table, add feeding form, and update feeding form --}}
{{!-- Date: 11/08/2022 --}}
{{!-- Adapted from nodejs-starter-app --}}
{{!-- Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h2>
    Feedings
</h2>

{{!-- Search for a feeding form --}}
<form id="search-feeding-form-html" method='GET' action="/feedings">
    <fieldset class="fields">
        <legend><strong>Search Feeding</strong></legend>
        Search feedings by species using the field below. Partial names are OK too!

        <p>
            <label for="input-species">Species: </label>
            <input type="text" name="species" id="input-species-html-search">
        </p>
        <p>
            {{!-- Submit and reset buttons --}}
            <input class="btn" type="submit" value="Submit">
            <button href='/feedings'>Reset</button>
        </p>
    </fieldset>
</form>
<p>&nbsp;</p>

{{!-- Create a table --}}
<table id="feedings-table" border="1" cellpadding="5">

    <thead>
        <tr>
            <th>Feeding ID</th>
            <th>Species Id</th>
            <th>Species Name</th>
            <th>Zookeeper Id</th>
            <th>Date</th>
            <th>Time</th>
            <th>Description</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        {{!-- Iterate through data from database to fill table cells --}}
        {{#each data}}
        <tr data-value={{this.feeding_id}}>
            <td>{{this.feeding_id}}</td>
            <td>{{this.species_id}}</td>
            <td>{{this.species_name}}</td>
            <td>{{this.zookeeper_id}}</td>
            <td>{{this.feeding_date}}</td>
            <td>{{this.feeding_time}}</td>
            <td>{{this.feeding_description}}</td>
            <td align="middle">
                {{!-- Delete button --}}
                <button class="delete" onClick="deleteFeeding({{this.feeding_id}})">Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_feeding.js"></script>
<p>&nbsp;</p>

{{!-- Add a Feeding form --}}
<form id="add-feeding-form-ajax">
    <fieldset class="fields">
        <legend><strong>Add a Feeding</strong></legend>

        <p>
        <label for="input-species">Species: </label>
        <select name="input-species" id="input-species">
            <option>Select a Species</option>
            {{!-- Iterate through data from species table to grab species_id and species_name --}}
            {{#each species}}
            <option value="{{this.species_id}}">{{this.species_name}}</option>
            {{/each}}
        </select>
        </p>

        <p>
        <label for="input-zookeeper">Zookeeper: </label>
        <select name="input-zookeeper" id="input-zookeeper">
            <option>Select a Zookeeper</option>
            {{!-- NULL value option --}}
            <option value="">&lt;None&gt;</option>
            {{!-- Iterate through data from zookeepers table to grab zookeeper_id, first_name, and last_name --}}
            {{#each zookeepers}}
            <option value="{{this.zookeeper_id}}">{{this.first_name}} {{this.last_name}}</option>
            {{/each}}
        </select>
        </p>
        
        <p>
        <label for="input-date">Date: </label>
        <input type="date" name="input-date" id="input-date" required></input>
        </p>

        <p>
        <label for="input-time">Time: </label>
        <input type="time" name="input-time" id="input-time" required></input>
        </p>

        <p>
        <label for="input-description">Description: </label>
        <input type="text" name="input-description" id="input-description" maxlength="40"></input>
        <small>Max length of 40 characters</small>
        </p>
        
        <p>
        <input class="btn" type="submit" value="Submit">
        </p>
    </fieldset>
</form>
<script src="./js/add_feedings.js"></script>
<p>&nbsp;</p>

{{!-- Update Feeding Form --}}
<form id="updateFeeding">
    <fieldset class="fields">
        <legend><strong>Update a Feeding date Form</strong></legend>
        Fill out form to update the a specific feeding.

    <p>
    <label for="input-feeding">Feeding: </label>
    <select name="input-feeding" id="mySelect">
        <option value="test">Select a Feeding</option>
        {{!-- Iterate through data from feedings table to grab feeding_id --}}
        {{#each data}}
        <option value="{{this.feeding_id}}">{{this.feeding_id}}</option>
        {{/each}}
    </select>
    </P>

    <p>
        <label for="input-species">Species: </label>
        <select name="input-update-species" id="input-update-species">
            <option>Select a Species</option>
            {{!-- Iterate through data from species table to grab species_id and species_name --}}
            {{#each species}}
            <option value="{{this.species_id}}">{{this.species_name}}</option>
            {{/each}}
        </select>
    </p>

    <p>
        <label for="input-zookeeper">Zookeeper: </label>
        <select name="input-update-zookeeper" id="input-update-zookeeper">
            <option>Select a Zookeeper</option>
            {{!-- NULL value option --}}
            <option value="">&lt;None&gt;</option>
            {{!-- Iterate through data from zookeepers table to grab zookeeper_id, first_name, and last_name --}}
            {{#each zookeepers}}
            <option value="{{this.zookeeper_id}}">{{this.first_name}} {{this.last_name}}</option>
            {{/each}}
        </select>
    </p>

    <p>
        <label for="inputUpdateDate">Date: </label>
        <input type="date" name="input-update-date" id="input-update-date" required></input>
    </p>

    <p>
        <label for="input-time">Time: </label>
        <input type="time" name="input-update-time" id="input-update-time" required></input>
    </p>

    <p>
        <label for="input-description">Description: </label>
        <input type="text" name="input-update-description" id="input-update-description" maxlength="40"></input>
        <small>Max length of 40 characters</small>
    </p>

    <p>
        <input class="btn" type="submit" value="Submit">
    </p>

    </fieldset>
</form>
<script src="./js/update_feeding.js"></script>

<p>&nbsp;</p>