<h2>
    Feedings
</h2>

{{!-- Create a table --}}
<table id="feedings-table" border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>
        <tr>
            <th>Feeding ID</th>
            <th>Species Id</th>
            <th>Species Name</th>
            <th>Zookeeper Id</th>
            <th>Date</th>
            <th>Time</th>
            <th>Description</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr data-value={{this.feeding_id}}>
            <td>{{this.feeding_id}}</td>
            <td>{{this.species_id}}</td>
            <td>{{this.species_name}}</td>
            <td>{{this.zookeeper_id}}</td>
            <td>{{this.feeding_date}}</td>
            <td>{{this.feeding_time}}</td>
            <td>{{this.feeding_description}}</td>
            <td align="middle">
                <button class="delete" onClick="deleteFeeding({{this.feeding_id}})">Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<p>&nbsp;</p>
{{!-- Add a Feeding form --}}
<form id="add-feeding-form-ajax">
    <fieldset class="fields">
        <legend><strong>Add a Feeding</strong></legend>
            
        <p>
        <label for="input-species">Species: </label>
        <select name="input-species" id="input-species">
            <option value="">Select a Species</option>
            {{#each species}}
            <option value="{{this.species_id}}">{{this.species_name}}</option>
            {{/each}}
        </select>
        </p>

        <p>
        <label for="input-zookeeper">Zookeeper: </label>
        <select name="input-zookeeper" id="input-zookeeper">
            <option>Select a Zookeeper</option>
            <option value="">None</option>
            {{#each zookeepers}}
            <option value="{{this.zookeeper_id}}">{{this.first_name}}</option>
            {{/each}}
        </select>
        </p>
        
        <p>
        <label for="input-date">Date: </label>
        <input type="date" name="input-date" id="input-date" value="2022-11-16" required></input>
        </p>

        <p>
        <label for="input-time">Time: </label>
        <input type="time" name="input-time" id="input-time" required></input>
        <small>Feedings are 24/7 since some of our animals are nocturnal</small>
        </p>

        <p>
        <label for="input-description">Description of feeding: </label>
        <input type="text" name="input-description" id="input-description" maxlength="40"></input>
        <small>Max length of 40 characters</small>
        </p>
        
        <p>
        <input class="btn" type="submit" value="Submit">
        </p>
    </fieldset>
</form>
<script src="./js/add_feedings.js"></script>
<p>&nbsp;</p>