{{!-- Citation for the following: table, add Feedings_Kitchens form, update Feedings_Kitchens form --}}
{{!-- Date: 11/08/2022 --}}
{{!-- Adapted from nodejs-starter-app --}}
{{!-- Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h2>
    Feedings/Kitchens Intersection Table
</h2>

{{!-- Create a table --}}
<table id="feedings-kitchens-table" border="1" cellpadding="5">

    <thead>
        <tr>
            <th>Feeding_Kitchen Id</th>
            <th>Feeding Id</th>
            <th>Kitchen Id</th>
            <th>Kitchen Name</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        {{!-- Iterate through data from database to fill table cells --}}
        {{#each data}}
        <tr data-value={{this.feeding_kitchen_id}}>
            <td>{{this.feeding_kitchen_id}}</td>
            <td>{{this.feeding_id}}</td>
            <td>{{this.kitchen_id}}</td>
            <td>{{this.name}}</td>
            <td align="middle">
                {{!-- Delete button --}}
                <button class="delete" onClick="deleteFeedingKitchen({{this.feeding_kitchen_id}})">Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_intersection.js"></script>
<p>&nbsp;</p>

{{!-- Add a Feedings_Kitchens form --}}
<form id="add-intersection-form-ajax">
    <fieldset class="fields">
        <legend><strong>Add Feedings_Kitchens</strong></legend>
        Fill out form to add the kitchen that made the feeding.

        <p>
            <label for="input-feeding">Feeding: </label>
            <select name="input-feeding" id="input-feeding">
                <option>Select a Feeding</option>
                {{!-- Iterate through data from feedings table to grab feeding_id --}}
                {{#each feedings}}
                <option value="{{this.feeding_id}}">{{this.feeding_id}}</option>
                {{/each}}
            </select>
        </p>
        
        <p>
            <label for="input-kitchen">Kitchen: </label>
            <select name="input-kitchen" id="input-kitchen">
                <option>Select a Kitchen</option>
                {{!-- Iterate through data from kitchens table to grab kitchen_id and name --}}
                {{#each kitchens}}
                <option value="{{this.kitchen_id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </p>

        <p>
        <input class="btn" type="submit" value="Submit">
        </p>
    </fieldset>
</form>
<script src="./js/add_intersection.js"></script>
<p>&nbsp;</p>

{{!-- Update Feedings_Kitchens form --}}
<form id="updateIntersection">
    <fieldset class="fields">
        <legend><strong>Update Feedings_Kitchens</strong></legend>
        Fill out form to update the kitchen that made the feeding.

        <p>
            <label for="input-feedings-kitchens-id">Feeding_Kitchen Id: </label>
            <select name="input-update-feedings-kitchens-id" id="input-update-feeding-kitchens-id">
                <option>Select a Feeding_Kitchen</option>
                {{!-- Iterate through data from feedings_kitchens table to grab feeding_kitchen_id --}}
                {{#each data}}
                <option value="{{this.feeding_kitchen_id}}">{{this.feeding_kitchen_id}}</option>
                {{/each}}
            </select>
        </p>

        <p>
            <label for="input-feeding">Feeding: </label>
            <select name="input-update-feeding" id="input-update-feeding">
                <option>Select a Feeding</option>
                {{!-- Iterate through data from feedings table to grab feeding_id --}}
                {{#each feedings}}
                <option value="{{this.feeding_id}}">{{this.feeding_id}}</option>
                {{/each}}
            </select>
        </P>

        <p>
            <label for="input-kitchen">Kitchen: </label>
            <select name="input-update-kitchen" id="input-update-kitchen">
                <option>Select a Kitchen</option>
                {{!-- Iterate through data from kitchens table to grab kitchen_id and name --}}
                {{#each kitchens}}
                <option value="{{this.kitchen_id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </p>

        <p>
            <input class="btn" type="submit" value="Submit">
        </p>

    </fieldset>
</form>
<script src="./js/update_intersection.js"></script>

<p>&nbsp;</p>