<h2>
    Species
</h2>

{{!-- Create a table --}}
<table  id="species-table" border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>
        <tr>
            <th>Species ID</th>
            <th>Species Name</th>
            <th>Diet</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.species_id}}</td>
            <td>{{this.species_name}}</td>
            <td>{{this.diet_type}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<p>&nbsp;</p>
{{!-- Add a species form --}}
<form id="add-species-form-ajax">
    <fieldset class="fields">
        <legend><strong>Add Species</strong></legend>

        <label for="input-species-name">Species Name: </label>
        <input type="text" name="input-species" id="input-species"></input>
            
        <p>
        <label for="input-diet">Diet Type: </label>
        <select name="input-diet" id="input-diet">
            <option>Select a Diet</option>
            {{#each diets}}
            <option value="{{this.diet_id}}">{{this.diet_type}}</option>
            {{/each}}
        </select>
        </p>

        <p>
        <input class="btn" type="submit" value="Submit">
        </p>
    </fieldset>
</form>
<script src="./js/add_species.js"></script>
<p>&nbsp;</p>
